
body{
  
}

#about{
  position: relative; left: 40%;
  position: absolute; top: 70%;
  height: 30px;
  width: 60px;
  background-color: black;
  color: orange;
  z-index: 1;
}

#pseudo{  
  position: relative; left: 55%;
  position: absolute; top: 70%;
  height: 30px;
  width: 60px;
  background-color: black;
  color: orange;
  z-index: 1;
}


/*Code pour le style et le positionnement du bouton de debut*/
#start{
  position: relalive; left : 45%;
  position: absolute; top : 70%;
  height: 30px;
  width: 60px;
  background-color: black;
  color: orange;
  z-index: 1;
}

#org{
  position: relative; left: 60%;
  position: absolute; top: 70%;
  height: 30px;
  width: 100px;
  background-color: black;
  color: orange;
  z-index: 1;
}

#return{
  position: relative; left: 50%;
  position: absolute; top: 100%;
  height: 30px;
  width: 60px;
  background-color: black;
  color: orange;
  z-index: 1;
}

/*Code pour le style et le positionnement du titre dans la page de début*/
.tt{
  font-family: Georgia, serif;
  color: black;
  position: relative; top: 160px; left: 33%;
  z-index: 1;
}

/*Code pour styliser et positionner tous les textes de notre jeu*/
.df{
  font-family: Georgia, serif;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: orange;
  position: relative; top: 210px;
  z-index: 1;
}

/*Code de style et de positionnement du titre dans la page de jeu*/
.tl{
  font-family: Georgia, serif;
  color: black;
  position: relative; top: 200px; left: 43%;
  z-index: 1;
}

.ab{
  font-family: Georgia, serif;
  font-size: 15px;
  text-align: center;
  background-color: black;
  color: orange;
  position: absolute; top: 35%;
  z-index: 1;
}

#pc{  
  font-family: Georgia, serif;
  font-size: 20px;
  background-color: black;
  color: orange;
  position: relative; left: 30%;
  position: absolute; top: 35%;
  z-index: 1;
}

/*Code pour le style et le positionnement de la table tic tac toe*/
#art{
  display: table;
  border-spacing: 1px;
  border: 5px solid black;
  position: absolute; top: 50%; left: 45%;
  z-index: 1;
}


.row{
  display: table-row;
}


/*Code de style et de positionnement pour chaque carré de la table à rendre transparent et avoir une autre bordure autour de chaque carré.*/
#pixel1{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel2{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel3{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel4{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel5{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel6{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel7{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel8{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}
#pixel9{
  display: table-cell;
  background-color:transparent;
  width: 120px;
  height: 120px; 
  border: 5px solid black;
  font-size: 1px;
}

#image{
  height: 100%;
  width: 100%;
  position: center;
}

#theImage{
  position: relative;
}

/*Code de style et de positionnement de l'image de fond*/
.photo{
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#theImage{
  position: relative;
}

/*Code de style et de positionnement de l'image de fond*/
.logo{
  height: 20%;
  width: 10%;
  position: relative; left: 46%;
  position: absolute; top: 80%;
  z-index: 1;
}


/*Code de style et de positionnement du bouton de réinitialisation*/
#reset{
  margin: 0;
  position: relative; left: 60%;
  position: absolute; bottom: 10%;
  z-index: 1;
  background-color: black;
  color: orange;
}

#debut{
  margin: 0;
  position: relative; left: 50%;
  position: absolute; bottom: 10%;
  z-index: 1;
  background-color: black;
  color: orange;
}
